@import "src/styles.scss";

.profile-body {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: $navbar-background;
    border-top: 1px solid $navbar-border;
    border-left: 1px solid $navbar-border;
    border-right: 1px solid $navbar-border;
    border-bottom: 1px solid $navbar-border;
    .profile-heading {
        background-color: $blue;
        color: white;
        font-size: 4.2rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .profile-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 5rem;
        .profile-component {
            padding-top: 2rem;
        }
    }
}

.portfolio {
    width: 65rem;
}

.ticker-name {
    font-weight: bold;
    background-color: $navbar-border;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid white;
    border-color: limegreen transparent limegreen transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.lds-margin-top {
    margin-top: 3.5rem;
}

.center-spinner {
    display: flex;
    justify-content: center;
}
