.cw-home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    // Makes background grow to fit components
    overflow: auto;
    color: white;


    .cw-home-video-container {
        padding-top: 6rem;
    }

    .player-wrapper {
    width: auto; // Reset width
    height: auto; // Reset height
    }
    .react-player {
    padding-top: 56.25%; // Percentage ratio for 16:9
    position: relative; // Set to relative
    }

    .react-player > div {
    position: absolute; // Scaling will occur since parent is relative now
    }
}
