.cw-home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    .cw-home-video-container {
        padding-top: 6rem;
    }
}
