.cw-videos-playlist-container {
    .cw-videos-playlist-item {

    }
}
.cw-video-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    padding-top: 4rem;
    padding-bottom: 2rem;

    overflow: auto;
    height: 100vh;

    color: black;
    .playlist-title-wrapper {
        width: 100%;

        margin-bottom: 2rem;
        padding-left: 2rem;


        font-size: 2.5rem;
        font-weight: 900;
    }

    .non-carousel-container {
        // Flex layout
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: stretch;

        margin-bottom: 1rem;

        non-carousel-item {
          margin-right: 1rem;
          margin-left: 1rem;
        }
    }
    .non-carousel-container-left-align {
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    }
}



.non-carousel-container-left-align {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.react-player video {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
}
