.cw-landing-container {
  /* orientation of contained html tags */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-evenly;

  // page sizing
  min-height: 100vh;
  font-size: calc(10px + 2vmin);

  // dat sick style bby
  background-size: 1250px 1250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/../public/cw-logo.svg');

  .cw-landing-navbox {
    // background-color: #FFFFFF;
    min-height: 5vh;
    min-height: 5vw;

    // border: 5px solid black;

    margin-bottom: 190px;
    .content {
      // padding-top: 10px;
      padding-right: 50px;
      padding-left: 50px;
      .cw-landing-link {
        color: yellow;
        text-decoration: none;
      }
    }
  }
}
