.cw-cart-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    padding-top: 4rem;
    padding-bottom: 2rem;

    overflow: auto;
    height: 100vh;

    color: white;

    .cw-cart-items-container {
        display: flex;
        flex-direction: column;
        flex-wrap: rap;
        justify-content: center;
        align-items: stretch;
        align-content: center;

        .cw-cart-item-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: stretch;

            border-bottom: 2px solid black;

            .cw-cart-item-img {
                width: 3em;
                height: 4.5em;

                margin-right: 1em;
            }
            .cw-cart-item-title {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;


            }
            .cw-cart-item-price {

            }
        }
    }
    .cw-cart-form {
        margin-top: 1em;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;


        .cw-cart-form-input-label {
            color: black;

            font-size: 16px;
        }
        .cw-cart-form-input-field {
            font-size: 14px;

            width: 18em;
        }
    }

    .cw-cart-checkout-button {
        margin-top: 2em;
    }
}
.cw-cart-container-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    padding-bottom: 2rem;

    overflow: auto;
    height: 100vh;

    color: white;

    .cw-cart-header {
        padding-top: 2rem;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;

        padding-bottom: 1em;

        .cw-cart-link {
            color: black;
        }
    }

    .ag-theme-alpine {
        // Header text color
        --ag-header-foreground-color: #f8ed62;
        // Header background
        --ag-header-background-color: #453f3d;

        // Data text color
        --ag-foreground-color: red;
        // Data background (even)
        --ag-background-color: rgb(241, 225, 27);
        // Data background (odd)
        --ag-odd-row-background-color: rgb(241, 245, 11);

        // Table font
        --ag-font-size: 8px;
        --ag-font-family: monospace;
    }

    .cw-cart-items-container {
        display: flex;
        flex-direction: column;
        flex-wrap: rap;
        justify-content: center;
        align-items: stretch;
        align-content: center;

        .cw-cart-item-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: stretch;

            border-bottom: 2px solid black;

            .cw-cart-item-img {
                width: 3em;
                height: 4.5em;

                margin-right: 1em;
            }
            .cw-cart-item-title {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;


            }
            .cw-cart-item-price {

            }
        }
    }
    .cw-cart-form {
        margin-top: 1em;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;


        .cw-cart-form-input-label {
            color: black;

            font-size: 16px;
        }
        .cw-cart-form-input-field {
            font-size: 14px;

            width: 18em;
        }
    }

    .cw-cart-checkout-button {
        margin-top: 2em;
    }
}
