.default-info {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.col-row {
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 1rem;
}

.body-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.normal-value {
    padding-right:2rem;
    font-weight:normal;
}

.row-header {
    border-bottom: 1px solid #e7e7e7;
}

.score-card {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
