<div class="smt-navbar">
    <div class="smt-nav-header">
        <span>
            Car World
        </span>
    </div>
    <nav class="smt-nav-body">
        <div class="empty-border-bottom"></div>
        <div class="smt-nav-body-content">
            <!-- HOME -->
            <div
                *ngIf="!isLoggedIn"
                class="smt-nav-item"
                routerLinkActive="smt-active-nav">
                <span
                    class="oi oi-home icon-color"
                    aria-hidden="true">
                </span>
                <a routerLink="/home">
                    Home
                </a>
            </div>

            <!-- WIKI -->
            <div
                *ngIf="isLoggedIn"
                class="smt-nav-item"
                routerLinkActive="smt-active-nav">
                <span
                    class="oi oi-dollar icon-color"
                    aria-hidden="true">
                </span>
                <a routerLink="/wiki">
                    Wiki
                </a>
            </div>

            <!-- EARN DP -->
            <div
                *ngIf="isLoggedIn"
                class="smt-nav-item"
                routerLinkActive="smt-active-nav">
                <span
                    class="oi oi-dollar icon-color"
                    aria-hidden="true">
                </span>
                <a routerLink="/earn-devotion-points">
                    Earn Devotion Points
                </a>
            </div>

            <!-- LOGIN / REGISTER -->
            <div
                *ngIf="!isLoggedIn"
                class="smt-nav-item"
                routerLinkActive="smt-active-nav">
                <span
                    class="oi oi-person icon-color"
                    aria-hidden="true">
                </span>
                <a routerLink="/auth">
                    Login
                </a>
            </div>

            <!-- PROFILE -->
            <div
                *ngIf="isLoggedIn"
                class="smt-nav-item"
                routerLinkActive="smt-active-nav">
                <span
                    class="oi oi-person icon-color"
                    aria-hidden="true">
                </span>
                <a routerLink="/profile">
                    Profile
                </a>
            </div>
        </div>
        <div class="empty-border-bottom"></div>
    </nav>
</div>
