.cw-common-background-color {
  background: linear-gradient(#2a2727, #181716);
}


// Top-level container for entire webapp
.cw-app-container {
  width: 100%;
  height: 100%;

  background-color: #181716;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;

  // Common container for served webpages
  .cw-common-page-container {
      background-color: #181716;

    /* Orientation of contained html tags */
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;


    font-size: calc(10px + 2vmin);

    .cw-common-content-container {

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      .yt-video {
      }

      .cw-common-content-title {
        font-size: 4rem;
        // margin-bottom: 4rem;
        font-weight: 900;
        color: black;
        border-bottom: 5px solid black;
      }

      .content {
        // padding-right: 50px;
        // padding-bottom: 5px;

        color: blue;
        .cw-common-link {
            text-decoration: none;
            color: #ff0000;
            // min-height: 100vh;
        }
      }
    }
  }
}

.cw-common-background-color {
  background-color: #181716;
}
