.cw-common-navbox {
  //background-color: #FFFFFF;
  background-color: rgb(24, 26, 27);
  min-height: 15vh;
  min-width: 15vw;

  // box
  margin-right: 50px;
  margin-left: 50px;
  border: 5px solid rgb(84, 91, 95);


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-evenly;

  .content {
    // padding-top: 10px;
    padding-right: 50px;
    // padding-bottom: 5px;
    padding-left: 50px;

    .cw-common-link {
        text-decoration: none;
        color: #ff0000;
        min-height: 100vh;
    }
  }
}

.grayout {
  filter: gray;
  opacity: 0.6; /* Real browsers */
}
