.cw-mobile-banner {
    height: 6rem;
    width: 100%;
    position: sticky;
    top: 0;

    background: linear-gradient(360deg, rgb(241, 242, 11) 0.00%, rgb(248, 161, 27) 100.00%);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

    font-weight: bold;
    font-size: 2em;
    color: #8b0000;

    // element contents orientation
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cw-profile-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    overflow: auto;

    min-height: calc(100vh); /* Fallback for browsers that do not support Custom Properties */
    @media (max-width: 992px) {
        min-height: calc(100vh - 6rem); /* Fallback for browsers that do not support Custom Properties */
        min-height: calc(100svh - 6rem);
    }

    color: white;


    .my-carworld-card {
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

        margin-bottom: 3rem;
        margin-top: 4rem;
        margin-right: 2rem;
        margin-left: 2rem;

        padding-top: 2rem;

        border-radius: 10%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;

        background: linear-gradient(red, #8b0000);
        border-color: #393433;

        .card-content {
            margin-left: 4rem;
            margin-right: 4rem;
            margin-bottom: 0rem;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: stretch;

            color: white;
            font-weight: bold;

            .card-content-my-ddp-text {
                font-size: 1.6em;
                font-weight: bold;
                padding-top: 5px;

                // border-bottom: 3px solid #181716;
            }

            .user-ddp-point-value {
                font-size: 8em;
                font-weight: bold;

                margin-top: -45px;
                margin-bottom: -20px;

                color: yellow;
            }

            // For table
            // For table
            .devotion-point-header {
                background: linear-gradient(#57504d, #393433);

                text-align: center;
                height: 2rem;

                border-color: white;
                color: #f8ed62;

                width: 25em;

                margin-bottom: -1px;

                .devotion-point-title {
                    font-weight: bold;
                    font-size: 18px;

                    padding-top: 4px;
                }
            }
            .ag-theme-alpine {
                // Header text color
                --ag-header-foreground-color: #f8ed62;
                // Header background
                --ag-header-background-color: #453f3d;

                // Data text color
                --ag-foreground-color: red;
                // Data background (even)
                --ag-background-color: rgb(241, 225, 27);
                // Data background (odd)
                --ag-odd-row-background-color: rgb(241, 245, 11);

                // No idea what this does
                // --ag-header-column-resize-handle-color: rgb(126, 46, 132);

                // Table font
                --ag-font-size: 14px;
                --ag-font-family: monospace;
             }

            .username {
                font-size: 4em;
                font-weight: bolder;

                border-bottom: 3px solid #393433;
                // color: #f8ed62
                color: yellow;
            }

            .buy-ddp {
                margin-bottom: 1rem;
                margin-top: 2rem;

                border-radius: 10%;
                width: 6rem;
                // height: 2rem;

                background: linear-gradient(#57504d, #393433);
                border-color: #f8ed62;

                // color: #f8ed62;
                color: yellow;
                font-weight: bold;

                cursor: pointer;
            }
        }
    }

    .my-carworld-card-mobile {
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

        width: 16.5rem;

        margin-bottom: 1rem;
        margin-top: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;

        padding-top: 2rem;

        border-radius: 10%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;

        background: linear-gradient(red, #8b0000);
        border-color: #393433;

        .card-content {
            margin-top: -1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 2em;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: stretch;

            color: white;
            font-weight: bold;

            .username {
                font-size: 25px;
                font-weight: bolder;

                border-bottom: 3px solid #393433;
                color: yellow;
            }

            .card-content-my-ddp-text {
                font-size: 14px;
                font-weight: bold;
                padding-top: 5px;
            }

            .user-ddp-point-value {
                font-size: 40px;
                font-weight: bold;

                margin-top: -20px;
                margin-bottom: -10px;

                color: yellow;
            }

            // For table
            .devotion-point-header {
                background: linear-gradient(#57504d, #393433);

                text-align: center;
                height: 2rem;

                border-color: white;
                color: #f8ed62;

                width: 12.5em;

                margin-bottom: -1px;

                .devotion-point-title {
                    font-weight: bold;
                    font-size: 14px;

                    padding-top: 4px;
                }
            }
            .ag-theme-alpine {
                // Header text color
                --ag-header-foreground-color: #f8ed62;
                // Header background
                --ag-header-background-color: #453f3d;

                // Data text color
                --ag-foreground-color: red;
                // Data background (even)
                --ag-background-color: rgb(241, 225, 27);
                // Data background (odd)
                --ag-odd-row-background-color: rgb(241, 245, 11);

                // No idea what this does
                // --ag-header-column-resize-handle-color: rgb(126, 46, 132);

                // Table font
                --ag-font-size: 10px;
                --ag-font-family: monospace;
            }

            .buy-ddp {
                margin-bottom: -1em;
                margin-top: 0.2em;

                border-radius: 10%;
                width: 6rem;

                background: linear-gradient(#57504d, #393433);
                border-color: #f8ed62;

                color: yellow;
                font-weight: bold;

                cursor: pointer;
            }
        }
    }

    .log-out {
        cursor: pointer;

        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;

        border-radius: 10%;

        margin-bottom: 2rem;

        border-color: #f8ed62;
        background: linear-gradient(red, #8b0000);

        color: #f8ed62;
        font-weight: bolder;
    }
}
