.my-carworld-card {
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    // box
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-right: 8rem;

    // width: 19rem;
    // height: 22rem;
    border-radius: 10%;
    margin-right: 2rem;
    margin-left: 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

    background: linear-gradient(#57504d, #2a2727);
    border-color: #393433;

    .card-content {
        // padding-right: .5em;
        // padding-left: .5em;
        margin-top: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: .5rem;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;

        color: white;
        font-weight: bold;

        cursor: pointer;

        .devoted-since {
            font-size: .8em;
            font-weight: bold;

            // border-bottom: 3px solid #181716;
        }
        .username {
            font-size: 4em;
            font-weight: bolder;

            border-bottom: 3px solid #181716;
        }
        .buy-ddp {
            margin-bottom: 1rem;
            // margin-left: 7rem;

            border-radius: 10%;
            width: 6rem;
            // height: 2rem;

            background: linear-gradient(#57504d, #393433);
            border-color: #f8ed62;

            color: #f8ed62;
            font-weight: bold;

            cursor: pointer;
        }
    }
}

.log-out {
    margin-bottom: 1rem;
    // margin-left: 7rem;

    border-radius: 10%;
    width: 6rem;
    // height: 2rem;

    border-color: dark-red;
    background: linear-gradient(red, #8b0000);

    // color: #f8ed62;
    color: white;
    font-weight: bold;

    cursor: pointer;
}
