.cw-wiki-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    min-height: 100vh;

    color: black;

    .cw-wiki-text-block {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        max-width: 43em;
        font-size: 20px;

        padding-top: 4rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;

        .cw-wiki-paragraph {
            margin-bottom: 1rem;
        }

        .cw-wiki-apostle-block-title {
            font-size: 24px;
            font-weight: bolder;
            color: black;
        }

        .cw-wiki-apostle-name {
            margin-bottom: 0rem;
        }

        .cw-wiki-apostle-note {
            margin-top: 1rem;
            font-size: 18px;
        }
    }
}
