.big_font_120 {
    font-size: 7rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    color: #F8F8F8;
    margin-top: 2rem;
    font-family: Georgia;
}

.vertical-center {
    /*min-height: 100vh;*/
    display: flex;
    align-items: center;
  }

h1 {
    color: black;
    font-family: Georgia;
}

.bg {
    /* The image used */
    background-image: url('https://images.unsplash.com/photo-1455044372794-d981761b5bc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');

    /* Full height */
    height: calc(100% - 8.2rem);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    padding-top: 10rem;
    text-align: center;
}
