.cw-mobile-navbar-item {
  background: linear-gradient(red, #8b0000);
  border-color: #393433;
  color: white;
  box-shadow: 0px 3px 8px 2px black;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;

  width: 9rem;

  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-right: 1rem;
  margin-left: 2rem;
  // margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  border-radius: 100%;
}
.cw-mobile-navbar-highlighted-item{
  background: linear-gradient(red, #8b0000);
  border-color: #393433;
  color: yellow;
  box-shadow: 0px 3px 8px 2px black;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;

  width: 9rem;

  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-right: 1rem;
  margin-left: 2rem;
  // margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  border-radius: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 90px;
  height: 80px;
  left: 20px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  // background: #373a47;
  background: linear-gradient(360deg, rgb(248, 161, 27) 0.00%, rgb(241, 242, 11) 100.00%);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: linear-gradient(360deg, rgb(241, 242, 11) 0.00%, rgb(248, 161, 27) 100.00%);
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  /* TODO: Nav tabs */

}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
